/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mag 2020, 16:31:10
    Author     : gianlucarea
*/

body {
    min-height: 100%;
}

#creation-side {
    color: blue;
    padding-left: 2vw;
    margin-left: 15px;
    margin-top: 5px;
}

#creation-side > img {
    margin-bottom: 50px;
    max-width: 50px;
}

#creation-side > p {
    margin-bottom: 2px;
}

#creationForm label{
    margin-left: 15px;
    margin-right:15px;
    color: blue;
    width: 80px;
}

#creationForm{
    margin-top: 20px;
}

input[type=text]{
    width:76.5%;
}
#creationQuestionForm {
    margin-top: 15px;
}
#creationQuestionForm input{
    margin-bottom: 15px;
    width: 30%;
}

#creationQuestionForm select{
    margin-bottom: 15px;
}

#creationQuestionForm textarea{
    margin-bottom: 15px;
}

#creationQuestionForm label{
    color: blue;
    width: 10%;
}