<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Progetto IW</display-name>

    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>com.company.pollweb.controllers.InserimentoSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.company.pollweb.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.company.pollweb.controllers.Home</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreaSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.CreazioneSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserimentoSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.InserimentoSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiepilogoSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.sondaggi.RiepilogoSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubblicaSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.sondaggi.PubblicaSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiudiSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.sondaggi.ChiudiSondaggio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuovoResponsabile</servlet-name>
        <servlet-class>com.company.pollweb.controllers.utenti.NuovoResponsabile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaUtentiSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.sondaggi.InvitaUtentiSondaggio</servlet-class>
        <multipart-config>
            <!-- enter your values -->
            <max-file-size>123456</max-file-size>
            <max-request-size>123456</max-request-size>
            <file-size-threshold>123456</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaSondaggio</servlet-name>
        <servlet-class>com.company.pollweb.controllers.VisualizzaSondaggio</servlet-class>
        <init-param>
            <param-name>sondaggio_id</param-name>
            <param-value>sondaggio_id</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.company.pollweb.controllers.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaSondaggio</servlet-name>
        <url-pattern>/sondaggi/crea_sondaggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserimentoSondaggio</servlet-name>
        <url-pattern>/inserisci_sondaggio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaSondaggio</servlet-name>
        <url-pattern>/sondaggi/visualizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiepilogoSondaggio</servlet-name>
        <url-pattern>/sondaggi/riepilogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubblicaSondaggio</servlet-name>
        <url-pattern>/sondaggi/pubblica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiudiSondaggio</servlet-name>
        <url-pattern>/sondaggi/chiudi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuovoResponsabile</servlet-name>
        <url-pattern>/utenti/nuovo_responsabile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaUtentiSondaggio</servlet-name>
        <url-pattern>/sondaggi/invita_utenti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
        <!--
        Init-param documentation:
        https://freemarker.apache.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
      -->
        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseCharacterEncoding</param-name>
            <!-- Use the output_encoding setting of FreeMarker: -->
            <param-value>fromTemplate</param-value>
        </init-param>
        <init-param>
            <param-name>ExceptionOnMissingTemplate</param-name>
            <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
            <param-value>true</param-value>
        </init-param>
        <!-- FreeMarker engine settings: -->
        <init-param>
            <param-name>incompatible_improvements</param-name>
            <param-value>2.3.27</param-value>
            <!--
          Recommended to set to a high value.
          See: https://freemarker.apache.org/docs/pgui_config_incompatible_improvements.html
        -->
        </init-param>
        <init-param>
            <param-name>template_exception_handler</param-name>
            <!-- Use "html_debug" during development! -->
            <param-value>rethrow</param-value>
        </init-param>
        <init-param>
            <param-name>template_update_delay</param-name>
            <!-- Use 0 during development! Consider what value you need otherwise. -->
            <param-value>30 s</param-value>
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <!-- The encoding of the template files: -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>output_encoding</param-name>
            <!-- The encoding of the template output; Note that you must set
             "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <!-- Influences number and date/time formatting, etc. -->
            <param-value>en_US</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
        <!-- HTML and XML auto-escaped if incompatible_improvements >= 2.3.24: -->
        <url-pattern>*.ftlh</url-pattern>
        <url-pattern>*.ftlx</url-pattern>
    </servlet-mapping>

    <!--
    Database configuration connection Pooling
    -->
    <context-param>
        <param-name>data.source</param-name>
        <param-value>java:comp/env/jdbc/pollweb</param-value>
    </context-param>
    <resource-ref>
        <res-ref-name>jdbc/pollweb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!--
      Prevent the visiting of MVC Views from outside the servlet container.
      RequestDispatcher.forward/include should, and will still work.
      Removing this may open security holes!
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
            <url-pattern>*.ftlh</url-pattern>
            <url-pattern>*.ftlx</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Nobody is allowed to visit these directly. -->
        </auth-constraint>
    </security-constraint>
</web-app>
