<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Progetto IW</display-name>
    <description>Progetto X</description>
    <servlet>
        <servlet-name>Login</servlet-name>
        <description>Questa servlet implementa la funzione di login per gli utenti </description>
        <servlet-class>com.company.pollweb.controllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/utenti/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NuovoResponsabile</servlet-name>
        <description>Questa servlet implementa la funzione di creazione di un nuovo responsabile </description>
        <servlet-class>com.company.pollweb.controllers.NuovoResponsabile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NuovoResponsabile</servlet-name>
        <url-pattern>/utenti/nuovo_responsabile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sondaggio</servlet-name>
        <description>Questa servlet implementa la funzione di creazione di un nuovo sondaggio </description>
        <servlet-class>com.company.pollweb.controllers.Sondaggio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sondaggio</servlet-name>
        <url-pattern>/sondaggi/nuovo_sondaggio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
        <!--
        Init-param documentation:
        https://freemarker.apache.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
      -->
        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseCharacterEncoding</param-name>
            <!-- Use the output_encoding setting of FreeMarker: -->
            <param-value>fromTemplate</param-value>
        </init-param>
        <init-param>
            <param-name>ExceptionOnMissingTemplate</param-name>
            <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
            <param-value>true</param-value>
        </init-param>
        <!-- FreeMarker engine settings: -->
        <init-param>
            <param-name>incompatible_improvements</param-name>
            <param-value>2.3.27</param-value>
            <!--
          Recommended to set to a high value.
          See: https://freemarker.apache.org/docs/pgui_config_incompatible_improvements.html
        -->
        </init-param>
        <init-param>
            <param-name>template_exception_handler</param-name>
            <!-- Use "html_debug" during development! -->
            <param-value>rethrow</param-value>
        </init-param>
        <init-param>
            <param-name>template_update_delay</param-name>
            <!-- Use 0 during development! Consider what value you need otherwise. -->
            <param-value>30 s</param-value>
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <!-- The encoding of the template files: -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>output_encoding</param-name>
            <!-- The encoding of the template output; Note that you must set
             "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <!-- Influences number and date/time formatting, etc. -->
            <param-value>en_US</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
        <!-- HTML and XML auto-escaped if incompatible_improvements >= 2.3.24: -->
        <url-pattern>*.ftlh</url-pattern>
        <url-pattern>*.ftlx</url-pattern>
    </servlet-mapping>
    <!--
      Prevent the visiting of MVC Views from outside the servlet container.
      RequestDispatcher.forward/include should, and will still work.
      Removing this may open security holes!
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
            <url-pattern>*.ftlh</url-pattern>
            <url-pattern>*.ftlx</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Nobody is allowed to visit these directly. -->
        </auth-constraint>
    </security-constraint>
</web-app>
